/* About page */

.banner h2{
  
    font-size: 70px;
    font-style: italic;
    color: #a42323;
 }

.shop-pic{
    background-color: black;
}
.about-text{
    display: flex;
   
  }
  .text-box{
    padding: 40px 0px;
    color: #0BC434;
    background: rgb(54, 48, 48);
    margin: 0px;
    width: calc(33.333%);
    text-align: center;
  }